<main class="contenido">
  <section class="tarjeta">
    <header class="titulo-tarjeta">
      <h2>Generar venta</h2>
    </header>

    <div class="cuerpo-tarjeta">
      <div class="contenedor-inputs">
        <h3 class="titulo-seccion">Detalle del cliente</h3>

        <div class="seccion-cliente">
          <div class="izquierda">
            <input
              type="text"
              name="identificacion"
              class="tipo-fuente"
              placeholder="Dni del cliente"
              autocomplete="off"
            />
          </div>
          <div class="derecha">
            <input
              type="text"
              name="cliente"
              class="tipo-fuente"
              placeholder="Nombre del cliente"
              autocomplete="off"
            />
          </div>
        </div>
        <h3 class="titulo-seccion" style="margin-top: 15px">
          Detalle del producto
        </h3>
        <div class="seccion-producto">
          <div class="izquierda">
            <input
              type="text"
              name="codigo"
              class="tipo-fuente"
              placeholder="Buscar por codigo"
              [(ngModel)]="codigoProducto"
              (keyup.enter)="buscarProductoCodigo()"
              autocomplete="off"
            />
          </div>
          <div class="derecha autocompletar-contenido">
            <input
              type="text"
              name="producto"
              class="tipo-fuente"
              placeholder="Digite el nombre del producto"
              [(ngModel)]="productoFiltro"
              (input)="productosFilter()"
              (mousedown)="mostrarListaProductos()"
              (blur)="cerrarListaProductos()"
              (keyup.enter)="agregarProductosTabla()"
              autocomplete="off"
            />
            <ul class="autocompletar-lista" *ngIf="listaProductos">
              <li
                *ngFor="let producto of productosFiltrados"
                (mousedown)="selectProduct(producto); $event.preventDefault()"
              >
                {{ producto.descripcion }}
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <table>
      <thead>
        <tr>
          <th class="ocultar-columna">Id</th>
          <th class="ocultar-columna">IdVenta</th>
          <th class="ocultar-columna">IdProducto</th>
          <th>Producto</th>
          <th>Cantidad</th>
          <th>Precio</th>
          <th>Descuento</th>
          <th>Total</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let detalle of detalleVentas">
          <td data-label="Id" class="ocultar-columna">
            {{ detalle.idDetalleVenta }}
          </td>
          <td data-label="IdVenta" class="ocultar-columna">
            {{ detalle.idVenta }}
          </td>
          <td data-label="IdProducto" class="ocultar-columna">
            {{ detalle.idProducto }}
          </td>
          <td data-label="Producto">{{ detalle.nombreProducto }}</td>

          <td data-label="Cantidad">
            <span
              style="cursor: pointer"
              title="Doble click para editar"
              *ngIf="!detalle.editarCantidad"
              (dblclick)="detalle.editarCantidad = true"
              >{{ detalle.cantidad }}</span
            >
            <input
              *ngIf="detalle.editarCantidad"
              type="number"
              [(ngModel)]="detalle.cantidad"
              (keyup.enter)="validarCantidadVendida(detalle)"
              (blur)="validarCantidadVendida(detalle)"
            />
          </td>

          <td data-label="Precio">{{ detalle.precio | number : "1.2-2" }}</td>

          <td data-label="Descuento">
            <span
              *ngIf="!detalle.editarDescuento"
              (dblclick)="detalle.editarDescuento = true"
              style="cursor: pointer"
              title="Doble click para editar"
            >
              {{ detalle.descuento | number : "1.2-2" }}
            </span>
            <input
              *ngIf="detalle.editarDescuento"
              [(ngModel)]="detalle.descuento"
              (keyup.enter)="validarCantidadDescuento(detalle)"
              (blur)="validarCantidadDescuento(detalle)"
              type="number"
            />
          </td>

          <td data-label="Total">{{ detalle.total | number : "1.2-2" }}</td>
          <td data-label="Acciones" class="acciones">
            <button class="eliminar"><mat-icon>delete</mat-icon></button>
          </td>
        </tr>
      </tbody>
    </table>

    <div class="contenedor-totales">
      <div class="totales">
        <div class="sub-total">
          <span>Subtotal:</span>
          <div class="descuento">
            <span>Descuento:</span>
          </div>
          <div class="total-general">
            <span>Total General:</span>
            <span class="valor"></span>
          </div>
        </div>
      </div>
    </div>

    <div class="botones-acciones">
      <button class="boton btn-nuevo">
        <mat-icon>add_circle_outline</mat-icon> Nuevo
      </button>
      <button class="boton btn-guardar">
        <mat-icon>check</mat-icon>Guardar
      </button>
    </div>
  </section>
</main>
