body {
  // margin: 0;
  // padding: 2rem;
  height: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.barra-superior {
  position: fixed;
  height: 50px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1100;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.icon {
  margin-left: auto;
  display: flex;
  padding-right: 25px;
  button {
    padding: 3px;
    display: flex;
    align-items: center;
  }
  mat-icon {
    cursor: pointer;
  }
}

.barra-lateral {
  background-color: #121318;
  width: 250px;
  color: #fdfefe;
  position: fixed;
  top: 50px;
  left: 0;
  height: calc(100% - 50px);
  display: block;
  z-index: 1000;
  overflow-y: auto;
  mat-icon {
    font-size: 26px;
  }
}

.logo {
  padding: 5px 18px 0;
  gap: 10px;
  margin-top: 10px;
  display: flex;
  align-items: center;
  height: 60px;
  text-align: center;
}

.linea-division {
  border: 0;
  height: 1px;
  background-color: rgba(33, 26, 26, 0.2);
  margin: 10px 0;
}

.menu {
  list-style: none;
  padding: 0;
  margin: 0;
  mat-icon {
    margin-left: 5px;
  }
}

.menu li a {
  display: flex;
  align-items: center;
  padding: 15px;
  color: #b8bdc3;
  font-weight: bold;
  text-decoration: none;
  font-size: 16px;
  gap: 20px;
}

.sub-menu {
  list-style: none;
  padding: 10px 0 10px 0;
  margin: 0 20px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  width: 210px;

  display: none;

  &.show {
    display: block;
  }
  li a:hover {
    text-decoration: underline;
  }
  li a {
    color: rgb(240, 240, 240);
    padding: 0px 0px 10px 30px;
    display: block;
    font-weight: bold;
    border-radius: 10px;
    margin: 10px;
    font-size: 14px;
    overflow: hidden;
  }
}

.menu li a .expand-icon {
  margin-left: auto;
}

.rotate-icon {
  transform: rotate(90deg);
}

.contenido-principal {
  margin-top: 40px;
  margin-left: 250px;
  padding: 20px;
  box-sizing: border-box;
  flex: 1;
  background-color: #f4f4f4;
}

// .footer {
//   background-color: blue;
//   color: white;
//   font-weight: 500;
//   padding: 20px 0;
//   margin-top: auto;
//   margin-left: 250px;
//   .footer-bottom {
//     text-align: center;
//     padding-top: 7px;
//   }
//   p {
//     font-size: 12px;
//   }
// }
