<div class="modal">
  <div class="modal-header">
    <h3>Nuevo Rol</h3>
    <button (click)="cerrarModal()"><mat-icon>close</mat-icon></button>
  </div>

  <div class="modal-body">
    <label>Rol:</label>
    <input [(ngModel)]="descripcion" placeholder="Nombre del Rol" />

    <label>Estado:</label>
    <select [(ngModel)]="estado">
      <option value="Activo">Activo</option>
      <option value="Inactivo">Inactivo</option>
    </select>
  </div>

  <div class="modal-footer">
    <button (click)="guardarRol()"><mat-icon>save</mat-icon> Guardar</button>
    <button (click)="cerrarModal()"><mat-icon>close</mat-icon>Cancelar</button>
  </div>
</div>
